{
  "extends": "eslint-config-airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false
  },
  "rules": {
    "no-console": 0,
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off",
        "class-methods-use-this": "off"
      }
    }
  ]
}
